 {% extends "base.html.twig" %}

 {% block body %}
 
 <div>
 <h1>
 Bonjour {{user.prenom}}!
 
  </h1>
<p> click this lien to activate your Compte </P> 
<a href="{{url('api_users_VALIDATE_collection',{'token':token})}}"> ici </a> 

 </div>
 
 
 {% endblock %}