 {% extends "base.html.twig" %}

 {% block body %}
 
 <div>
 <h1>
 Bonjour {{user.prenom}}!
 
  </h1>
<p> click this lien to activate your Compte </P> <a href=""> ici </a> 

 </div>
 
 
 {% endblock %}